<html>
  <head>
      <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
   </head>
  <body>
    <div class="topBanner">
       <div class="catalogAppBannerTitle"><h1>Catalog App</h1></div>
         {%if 'username' not in session %}
         <a href="{{url_for('showLogin')}}" class="loginLogout">Login</a>
         {% else %}
         <a href="{{url_for('gdisconnect')}}" class="loginLogout">Logout </a>
         {% endif %}
    </div>
    <div class="mainDiv">
      <h1> New Category Item </h1>
      <!-- Create form for creating a new category item -->
      <form action="{{ url_for('newCategoryItem')}}" method = 'POST'>

	<p>Name:</p>
	<input type='text' size='30' name='name' required="required">
	
	<p>Description</p>
	<input type='text' size='30' name='description' required="required">

	<p>Category</p>
	<select name = 'category'>
	  {% for c in categories %}
	  <option value="{{c.name}}">{{c.name}}</option>
	  {% endfor %}
	</select>
	<br>
	<button type='submit' value='Create' style="margin-top:2%;">Submit</button>
      </form>
      <a href='{{url_for("showCategory")}}'>Back</a>
    </div>
  </body>
</html>
