body {
	background-color: lightgray;
	font-size: 1.1vw;
}

.newItem {
	float: left;
}

h1 {
	font-size: 1.6vw;
}

.categories {
	width: 30%;
	margin: 5%;
	float: left;
}

.newItem {
	float: left;
	margin: 5%;
}

.mainDiv {
	margin: auto;
	height: 50%;
	width: 50%;
	background-color: white;
	border-radius: 10px;
	padding: 5%;
	text-align: left;
}

.topBanner {
	background-color: #003399;
	margin-top: -0.6%;
	margin-left: -2%;
	margin-bottom: 2%;
	height: 6.5vh;
	width: 103%;
}

.loginLogout {
	clear: all;
	border: 1px solid #ff6600;
	background-color: #ff6600;
	float: right;
	padding: 0.5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-right: 5%;
	height: 2.3vh;
	width: 6vw;
	text-align: center;
	color: white;
	text-decoration: none;
	font-size: 1.4vw;
	border-radius: 3px;
}

.catalogAppBannerTitle {
	float: left;
	margin-left: 5%;
}

.catalogAppBannerTitle h1 {
	margin-top: 5%;
	font-size: 2vw;
	color: white;
}

a {
	color: #ff6600;
	text-decoration: none;
}
